/node_modules
/public/hot
/public/storage
/public/admin/js/compiled
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/lang/*.json
!/resources/lang/bn.json
!/resources/lang/en.json
